.blue {
    color: blue;
}

.red {
    color: red;
}

.info {
    color: #87CEEB; /* Sky Blue */
}

.success {
    color: green;
    text-decoration-line: underline;
}

.danger {
    color: red;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.underline:hover {
    text-decoration: none;
}