1 VERSIONINFO
FILEVERSION     [VERSION_COMMAS]
PRODUCTVERSION  [VERSION_COMMAS]
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          0x40004L
FILETYPE        0x1L
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // U.S. English, Unicode
        BEGIN
            VALUE "CompanyName",      "Your Company Name"
            VALUE "FileDescription",  "Your App Description"
            VALUE "FileVersion",      "[VERSION_DOTS]"
            VALUE "InternalName",     "MyB4JApp"
            VALUE "LegalCopyright",   "Copyright (C) 2026 Your Name"
            VALUE "OriginalFilename", "YOUR_APP_NAME.exe"
            VALUE "ProductName",      "Your Product Name"
            VALUE "ProductVersion",   "[VERSION_DOTS]"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END