<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: lightblue">
    <div>
        <h1 style="color: blue">Hello $name</h1>
        <p>
            <font size="+2">It works in <strong><span style="color: red">$platform!</span></strong></font>
        </p>
        <ul>
            #foreach( $product in $Products )
            <li> $product </li>
            #end
        </ul>

        #macro( tablerows $color $highlight $values $search)
        #foreach( $value in $values )
        #{if} ($value.contains($search.toUpperCase()) or $value.contains($search.toLowerCase()))
        <tr>
            <td $width bgcolor=$color>$value</td>
        </tr>
        #{else}
        <tr>
            <td $width bgcolor=$highlight>$value</td>
        </tr>
        #{end}
        #end
        #end

        #set( $greatlakes = ["Superior", "Michigan", "Huron", "Erie", "Ontario"] )
        
        #set( $width = "width='200px'")

        <table>
        #tablerows( $color 'lightblue' $greatlakes 'R')
        </table>

        <p>Printed: $now</p>
    </div>
</body>
</html>