<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.simplysoftware.ledcorona"
	android:versionCode="1"
	android:versionName="1.0.0.1"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true" />
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<application
		android:icon="@drawable/icon"
		android:label="LED Corona"
		android:theme="@style/LightTheme">
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="LED Corona"
			android:screenOrientation="unspecified">
			<intent-filter>
			   ""
			   ""
			</intent-filter>
			
		</activity>
		<service
			android:name=".ledcorona"
			android:label="LED Corona"
			android:permission="android.permission.BIND_WALLPAPER">
			
			<meta-data
			        android:name="android.service.wallpaper"
			        android:resource="@xml/watch_face" />
			    <meta-data
			        android:name="com.google.android.wearable.watchface.preview"
			        android:resource="@drawable/round_preview" />
			    <meta-data
			        android:name="com.google.android.wearable.watchface.preview_circular"
			        android:resource="@drawable/round_preview" />
			   <intent-filter>
			        <action android:name="android.service.wallpaper.WallpaperService" />
			        <category
			            android:name=
			            "com.google.android.wearable.watchface.category.WATCH_FACE" />
			    </intent-filter>
			android:name =".DigitalWatchFaceService" ... />
			
				<!-- wearable configuration activity -->
				<meta-data
					android:name = "com.google.android.wearable.watchface.wearableConfigurationAction"
					android:value = "com.simplysoftware.ledcorona.configuration" />
		</service>
		<receiver android:name=".ledcorona$ledcorona_BR">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".colourpicker"
			android:label="LED Corona"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".configuration"
			android:label="LED Corona"
			android:screenOrientation="unspecified">
			
			android:name=".DigitalWatchFaceWearableConfigActivity"
				android:label="@string/digital_config_name">
			
				<intent-filter>
					<action android:name = "com.simplysoftware.ledcorona.configuration" />
					<category android:name = "com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
					<category android:name = "android.intent.category.DEFAULT" />
				</intent-filter>
		</activity>
		<service android:name=".httputils2service">
		</service>
		<receiver android:name=".httputils2service$httputils2service_BR">
		</receiver>
	</application>
</manifest>