.root {
  -fx-base: rgba(60, 63, 65, 255); /* dark */
  
}
.title-bar-bg{
	-fx-background-color: Black;
}
.title-bar-icon{
}
.title-bar-title-label{
	-fx-text-fill:lightgray;
}
.title-bar-control-btn-pane{
}
.title-bar-minimize-icon{
	
}
.title-bar-minimize-icon-pressed,
.title-bar-maximize-icon-pressed{
	-fx-background-color:rgba(205,205,205,0.55) ;
}
.title-bar-minimize-icon-hover,
.title-bar-maximize-icon-hover{
	-fx-background-color: rgba(205,205,205,0.35);
}
.title-bar-maximize-icon{
}
.title-bar-close-icon{
}
.title-bar-close-icon-hover{
	-fx-background-color:rgba(255,0,0,0.7);
}
.title-bar-close-icon-pressed{
	-fx-background-color:#FF0000;
}