<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.amberhome.watchfacedemo"
	android:versionCode="3"
	android:versionName="2.0"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28"/>
	<uses-feature android:name="android.hardware.type.watch"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<application
		android:icon="@drawable/icon"
		android:label="B4A Watchface Example"
		android:theme="@android:style/Theme.DeviceDefault.Light">
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="B4A Watchface Example"
			android:screenOrientation="unspecified">
			<intent-filter>
			   
			   
			</intent-filter>
			
		</activity>
		<service
			android:name=".digitalwatchface"
			android:label="B4A Digital"
			android:permission="android.permission.BIND_WALLPAPER">
			
			<meta-data
			        android:name="android.service.wallpaper"
			        android:resource="@xml/watch_face" />
			    <meta-data
			        android:name="com.google.android.wearable.watchface.preview"
			        android:resource="@drawable/digitalwatchface_preview" />
			    <meta-data
			        android:name="com.google.android.wearable.watchface.preview_circular"
			        android:resource="@drawable/digitalwatchface_preview" />
			   <intent-filter>
			        <action android:name="android.service.wallpaper.WallpaperService" />
			        <category
			            android:name=
			            "com.google.android.wearable.watchface.category.WATCH_FACE" />
			    </intent-filter>
		</service>
		<receiver android:name=".digitalwatchface$digitalwatchface_BR">
		</receiver>
		<service
			android:name=".analogwatchface"
			android:label="B4A Analog"
			android:permission="android.permission.BIND_WALLPAPER">
			
			<meta-data
			        android:name="android.service.wallpaper"
			        android:resource="@xml/watch_face" />
			    <meta-data
			        android:name="com.google.android.wearable.watchface.preview"
			        android:resource="@drawable/analogwatchface_preview" />
			    <meta-data
			        android:name="com.google.android.wearable.watchface.preview_circular"
			        android:resource="@drawable/analogwatchface_preview" />
			   <intent-filter>
			        <action android:name="android.service.wallpaper.WallpaperService" />
			        <category
			            android:name=
			            "com.google.android.wearable.watchface.category.WATCH_FACE" />
			    </intent-filter>
		</service>
		<receiver android:name=".analogwatchface$analogwatchface_BR">
		</receiver>
	</application>
</manifest>