.chart-series-line {    
    -fx-stroke-width: 4px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: #ffff00; }
.default-color1.chart-series-line { -fx-stroke: #ff00ff; }
.default-color2.chart-series-line { -fx-stroke: #00ff00; }
.default-color3.chart-series-line { -fx-stroke: #ff0000; }
.default-color4.chart-series-line { -fx-stroke: #0000ff; }

.default-color0.chart-line-symbol { -fx-background-color: #ffff00, grey; }
.default-color1.chart-line-symbol { -fx-background-color: #ff00ff, blue; }
.default-color2.chart-line-symbol { -fx-background-color: #00ff00, black; }
.default-color3.chart-line-symbol { -fx-background-color: #ff0000, magenta; }
.default-color4.chart-line-symbol { -fx-background-color: #0000ff, yellow; }

.chart-legend {
   -fx-padding: 20px;
   -fx-background-color: lightgray;
}

# Set the legend series symbol: 0 = square, 1 = circle
.chart-legend-item-symbol{
   -fx-background-radius: 1;
}



.chart-content {
    -fx-padding: 30px;    
    -fx-background-color: yellow;
}
 
.chart-title {
  -fx-text-fill: #ff0000;
  -fx-font-size: 1.6em;
}


.chart-plot-background {
    -fx-background-color: #e2ecfe;
}
.chart-vertical-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-alternative-row-fill {
    -fx-fill: #99bcfd;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}