<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>F:\©.B4X_Launch4J\B4J\B4JGoogleTranslateDB.jar</jar>
  <outfile>D:\Application\©.B4JGoogleTranslateDB\B4JGoogleTranslateDB.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>D:\Application\©.B4JGoogleTranslateDB\ico.ico</icon>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8.0</minVersion>
    <maxVersion>1.8.0_371</maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
  <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.00RC1</txtFileVersion>
    <fileDescription>B4JGoogleTranslateDB</fileDescription>
    <copyright>Copyright © 2022-2023 B4JGoogleTranslateDB</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>1.00RC1</txtProductVersion>
    <productName>B4J Google Translate DBase</productName>
    <companyName>T201016</companyName>
    <internalName>B4JGoogleTranslateDB</internalName>
    <originalFilename>B4JGoogleTranslateDB.exe</originalFilename>
    <trademarks></trademarks>
    <language>POLISH</language>
  </versionInfo>
</launch4jConfig>