h1 {
    font: bold 25px "calibri","arial";
	left: 200px;
    position: relative;
    text-align: left;
}
#main {
    margin-left: 200px;
}
#questions_div {
    margin-bottom: 30px;
    margin-left: 40px;
}