.comment{
-fx-fill: Green;
}
.string{
-fx-fill: Maroon;
}
.keyword{
-fx-fill: Blue;
}
.types{
-fx-fill: DarkCyan;
}
.notcoretype{
-fx-fill: Cyan;
}
.varname{
-fx-fill: #6600CC;
}
.conditional{
-fx-fill: DarkGray;
}
.directive{
-fx-fill: Orange;
}
.error{
-fx-fill: Red;
-fx-underline: true;
}