<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="anywheresoftware.b4a.agraham.keyboardtest"
	android:versionCode="410"
	android:versionName="4.10"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="28"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<edtSource android:imeOptions="flagNoExtractUi|flagNoFullscreen" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<application
		android:icon="@drawable/icon"
		android:label="Keyboard Test"
		android:theme="@style/LightTheme">
		<activity
			android:windowSoftInputMode="adjustResize|stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="Keyboard Test"
			android:screenOrientation="unspecified">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
	</application>
</manifest>