.html-tables {
	-fx-background-color:#FFFFFFFF;
	-fx-border-width:2;
	-fx-border-color:242424;
}
.code-disabled {
	-fx-background-color:#848484;
	-fx-opacity: 0.3;
}
.htmleditor-btn{
	-fx-text-fill: #808080;
	-fx-faint-focus-color: transparent;
	-fx-focus-color: transparent; 
}
.multi-field-template .label, .multi-field-template .check-box{
		-fx-text-fill: lightgray;
}
.htmleditor-btn:focused .htmleditor-btn:pressed .htmleditor-btn:armed .htmleditor-btn:hover{
	/* not working */
		-fx-border-width: 1;
		-fx-border-color: #808080;
		-fx-border-radius: 5;
		-fx-border-style: solid;
}