<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233209311387-7aepd8rqlood3jlc7klb9f5p8u4ertlb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233209311387-7aepd8rqlood3jlc7klb9f5p8u4ertlb</string>
	<key>API_KEY</key>
	<string>AIzaSyCidYu8iEdoQ2npgqk3w9z2uRgcp7AtPIo</string>
	<key>GCM_SENDER_ID</key>
	<string>233209311387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.tecnomedia.push</string>
	<key>PROJECT_ID</key>
	<string>push-28361</string>
	<key>STORAGE_BUCKET</key>
	<string>push-28361.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233209311387:ios:798a69ee49d8050938163e</string>
	<key>DATABASE_URL</key>
	<string>https://push-28361.firebaseio.com</string>
</dict>
</plist>