<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="gpb.example"
	android:versionCode="1"
	android:versionName="example"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<queries>
	        <intent>
	            <action android:name="com.android.vending.billing.InAppBillingService.BIND" />
	        </intent>
	    </queries>
	<uses-permission android:name="com.android.vending.BILLING"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<application
		android:name="androidx.multidex.MultiDexApplication"
		android:icon="@drawable/icon"
		android:label="GPPpurchasesEx"
		android:theme="@style/LightTheme">
		
		<meta-data
		            android:name="com.google.android.play.billingclient.version"
		            android:value="7.0.0" />
		
		        <activity
		            android:name="com.android.billingclient.api.ProxyBillingActivity"
		            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
		            android:exported="false"
		            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		        <activity
		            android:name="com.android.billingclient.api.ProxyBillingActivityV2"
		            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
		            android:exported="false"
		            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="GPPpurchasesEx"
			android:screenOrientation="portrait"
			android:exported="true">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<service
			android:name=".starter"
			android:exported="true">
		</service>
		<receiver
			android:name=".starter$starter_BR"
			android:exported="true">
		</receiver>
	</application>
</manifest>