body{
	background-color: lightblue;
	font-family:Arial; 
	}
	div.wrap{
		width:960px;
		margin:0 auto;
		background-color: white;
		padding:20px;
		min-height: 100%;
	}
	.index-title{
	width:100%;
	text-align:center;
	}
