h1 {
    font: bold 25px "calibri","arial";
	left: 200px;
    position: relative;
    text-align: left;
}
#plog {
    margin-left: 200px;
}
#maindiv {
    position: absolute;
    left: 200px;
    top: 100px;
}