<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="sagenut.widget.example"
	android:versionCode="1"
	android:versionName=""
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="33"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<application
		android:icon="@drawable/icon"
		android:label="Sagenut Widget Example"
		android:theme="@style/DarkTheme">
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="Sagenut Widget Example"
			android:screenOrientation="unspecified"
			android:exported="true">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<service
			android:name=".starter"
			android:exported="true">
		</service>
		<receiver
			android:name=".starter$starter_BR"
			android:exported="true">
		</receiver>
		<receiver
			android:name=".widget_4x1"
			android:exported="true"
			android:label="Time in Letters">
			<intent-filter>
			<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
			android:resource="@xml/widget_4x1_info" />
			
			<intent-filter>
							<action android:name="android.intent.action.DATE_CHANGED"/>
							<action android:name="android.intent.action.CONFIGURATION_CHANGED"/>
							</intent-filter>
		</receiver>
		<receiver
			android:name=".widget_1x1"
			android:exported="true"
			android:label="My Own Image">
			<intent-filter>
			<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
			android:resource="@xml/widget_1x1_info" />
			
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".activity2"
			android:label="Sagenut Widget Example"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
	</application>
</manifest>