/* ProjectOverview */
/* Don't forget to update ThemeManager with global changes*/

/* App  specific */

.project-panel{
	-fx-background-color:transparent;
}
.project-panel-selected{
	 -fx-background-color: #7EB4FA;
}
.rescan-required{
	-fx-background-color:rgba(255,0,0,0.7);
}
.clv-header{
	-fx-background-color:light-background;
	-fx-text-fill: light-background-text-color;
	-fx-font-size:12;
}
.audit-report-separator{
	-fx-background-color: dark-background;
}
.drag-drop-accept{
	-fx-border-width:4;
	-fx-border-color: Green;
}
.drag-drop-reject{
	-fx-border-width:4;
	-fx-border-color: warning-background-color;
}
.pn-lbltitle-bg{
	-fx-background-color: dark-background;
}
.git-indicator{
	-fx-font-family: "FontAwesome";
}
.git-lastmodified{
	-fx-text-fill: dark-background-text-color;
}
.git-outofdate{
	-fx-text-fill:Tomato;
}
.no-notes{
	-fx-text-fill:derive(-fx-base,-30%) ;
}
.has-notes{
	-fx-text-fill:lightsteelblue;
}
.selectionhighlight-show{
	-fx-text-fill:Red;
}
/* end of app specific */