.metamask-btn {
	background-color: dodgerblue;
	border-color: transparent;
	border-radius: 5px;
	display: flex;
	justify-content: center;
}

.metamask-btn p{
	display: inline-block;
	text-align: top;
	top: 0;
	color: #e6e6e6;
	text-transform:uppercase;
	font-weight: bold;
}

.metamask-logo{
	max-width: 40px;
	display: inline-flex;
	margin: auto;
}
