<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="b4a.example.intellvold.myaccess"
	android:versionCode="1"
	android:versionName="1.0"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"/>
	<application
		android:icon="@drawable/icon"
		android:label="Intellvold_accessibilty"
		android:theme="@style/LightTheme">
		
		<service
					android:name="com.intellvold.accessibility.library.intellvold_accessibilityservice$MyAccessibilityService"
					android:exported="true"
					android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
					
					<intent-filter>
					         <action android:name="android.accessibilityservice.AccessibilityService" />
					     </intent-filter>
						  <meta-data
					        android:name="com.intellvold.accessibility.library.intellvold_accessibilityservice$MyAccessibilityService"
							android:value="intellvold"/>
							
				</service>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="Intellvold_accessibilty"
			android:screenOrientation="unspecified"
			android:exported="true">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<service
			android:name=".starter"
			android:exported="true">
		</service>
		<receiver
			android:name=".starter$starter_BR"
			android:exported="true">
		</receiver>
		<service
			android:name=".myservi"
			android:exported="true">
		</service>
		<receiver
			android:name=".myservi$myservi_BR"
			android:exported="true">
		</receiver>
	</application>
</manifest>