h1 {
    font: bold 25px "calibri","arial";
	left: 200px;
    position: relative;
    text-align: left;
}
p {
    margin-left: 40px;
}
#text_div {
    position: absolute;
    width: 650px;
    top: 120px;
    left: 50px;
}
#txt {
    width: 550px
}
#users_div {
    position: absolute;
    width: 200px;
    top: 100px;
    height: 500px; 
    left: 700px;
    font: 15px "calibri","arial";
}
#messagesDiv {
    position: relative;
    left: 40px;
    top: 80px;
    width: 600px;
    height: 400px;
    font: 80%/1.45em "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
}