<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="b4a.example"
	android:versionCode="1"
	android:versionName="1.0.0"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="29"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<application
		android:icon="@drawable/icon"
		android:label="B4A Example"
		android:theme="@style/LightTheme">
		
		<meta-data
		android:name="com.google.android.gms.ads.APPLICATION_ID"
		android:value="ca-app-pub-3940256099942544~3347511713"/>
		
		<meta-data
		            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
		            android:value="true"/>	
					<activity
		            android:name="com.google.android.gms.ads.AdActivity"
		            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />	
					
					<activity android:name="com.google.android.gms.common.api.GoogleApiActivity"
				  android:theme="@android:style/Theme.Translucent.NoTitleBar"
				  android:exported="false"/>
				    <meta-data
				  android:name="com.google.android.gms.version"
				  android:value="@integer/google_play_services_version" />
				<receiver
				            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
				            android:enabled="true"
				            android:exported="false" >
				        </receiver>
				
				  <service
				            android:name="com.google.android.gms.measurement.AppMeasurementService"
				            android:enabled="true"
				            android:exported="false" />
							
				 <receiver
				            android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver"
				            android:enabled="true"
				            android:exported="true"
				            android:permission="android.permission.INSTALL_PACKAGES" >
				            <intent-filter>
				                <action android:name="com.android.vending.INSTALL_REFERRER" />
				            </intent-filter>
				</receiver>
				<service
				            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
				            android:enabled="true"
				            android:exported="false"
				            android:permission="android.permission.BIND_JOB_SERVICE" />
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="B4A Example"
			android:screenOrientation="unspecified">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<service android:name=".starter">
		</service>
		<receiver android:name=".starter$starter_BR">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actbanner"
			android:label="B4A Example"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actinterstitial"
			android:label="B4A Example"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actrewarded"
			android:label="B4A Example"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actbannerstatic"
			android:label="B4A Example"
			android:screenOrientation="unspecified">
		</activity>
	</application>
</manifest>