.root{
	noapp-titlecolor:LightGray;
	tempcolor:#000000;
	-fx-font-family: "Segoe UI";
	/* -fx-base: rgba(60, 63, 65, 255); // dark */
	-fx-base: #202020;
}

.window-title{
	-fx-background-color:black ;
}
.pn-by-appname-color{
	-fx-background-color:by-appname-titlecolor ;
	-fx-text-fill: ladder(by-appname-titlecolor, white 49%, black 50%);
}
.pn-by-title-color{
	-fx-background-color:by-title-titlecolor ;
	-fx-text-fill: ladder(by-title-titlecolor, white 49%, black 50%);
}
.b4xplusminus .label
{
	-fx-background-color: Transparent;
	-fx-text-fill: LightGray;
}
.menu .label {
	-fx-background-color: Transparent;
	-fx-text-fill: LightGray;
}
.label {
	-fx-background-color: -fx-base;
	-fx-text-fill: LightGray;
}
.form-transparent {
	-fx-background-color: transparent;
}
.pn-root{
	-fx-background-color: -fx-base;
	-fx-text-fill: LightGray;
}

.text-field {
	-fx-background-color: #101010;
	-fx-text-fill: LightGray;
}

.text-field:focused {
	-fx-background-color: #101010;
	-fx-text-fill: LightGray;
}

/*  Tree View */
.tree-view, .tree-cell{
	-fx-background-color: -fx-base;
	-fx-text-fill: LightGray;
}
.tree-view, .tree-cell:hover{
	-fx-background-color: #404040;
}

.tree-view, .tree-cell:selected{
	-fx-background-color: #606060;
}
.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: DarkGray;
}

.tree-view .label{
	-fx-background-color: transparent;
	-fx-text-fill: LightGray;
} 