.button {
	-fx-background-color: linear-gradient(#61a2b1, #2A5058);
	-fx-text-fill: white;
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
	-fx-text-fill: white;
}
.button:pressed {
    -fx-background-color: black;
	-fx-text-fill: white;
}

.togglebutton-base{
	
	-fx-background-color: linear-gradient(#61a2b1, #2A5058);
	-fx-background-radius: 20;
	-fx-border-color: #2A5058;
	-fx-border-radius: 20;
	
}
.togglebutton-circle{
	-fx-background-color: linear-gradient(#2A5058, #61a2b1);
	-fx-background-radius: 20;
	-fx-border-color: black;
	-fx-border-radius: 20;
}

.togglebutton-label{
	-fx-text-fill: #FF9E11;
	-fx-background-radius: 20;
	-fx-border-color: #FF9E11;
	-fx-border-radius: 20;
}
.togglebutton-label-selected{
	-fx-text-fill: white;
	-fx-background-radius: 20;
	-fx-border-color: white;
	-fx-border-radius: 20;
}