h1 {
	left: 400px;
    position: relative;
    text-align: left;
}
#top {
	position: absolute;
	left: 110px;
	font-family: monospace;
}
#pattern {
	width: 600px;
}

#main div {
	border:2px solid #aaa;
}

#main {
	border: 0px;
	top: 50px;
	position: absolute;
}
#rawTextDiv {
	position: absolute;
	width: 520px;
	height: 350px;
	left: 100px;
	top: 100px;
	overflow-y: scroll;
	
}
#rawTextDiv textarea {
	height: 345px;
	width: 497px;
	left: 2px;
	top: 0px;
	padding: 0px;
	border: 0px;
}
#logsdiv {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 622px;
	top: 100px;
	overflow-y: scroll;
	font-family: monospace;
	font-size: 13px;
}

#codeDiv {
	position: absolute;
	width: 520px;
	height: 148px;
	left: 100px;
	top: 452px;
}
#codeDiv p {
	font-family: monospace;
	font-size: 13px;
}