.root {
-fx-base: rgb(33,33,33);
-fx-background: rgb(33,33,33);
-fx-control-inner-background:  rgb(33,33,33);
-fx-font-family: "Segoe UI",Helvetica,Arial,sans-serif;
-fx-font-size: 10pt;
-fx-text-fill: #d8d8d8;
-fx-background-insets: 0 0 0 0,0,1,2;
-fx-text-align:center;
}

#CalendarButton {-fx-control-inner-background: "#222222";}
#CalendarButton {-fx-background-color: "transparent";}
#CalendarButton {-fx-table-cell-border-color: "transparent";}
#CalendarButton {-fx-table-header-border-color: "transparent";}
#CalendarButton {-fx-padding: 0;}
#CalendarButton {-fx-font-size: 9pt;}
#CalendarButton {-fx-text-fill: "#ffffff";}
#CalendarButton {-fx-text-align:left;}
#CalendarButton {-fx-border-width: 1;}
#CalendarButton {-fx-border-color: rgba(255,255,255,10);}
#CalendarButton {-fx-background-radius: 0;}
#CalendarButton {-fx-background-insets: 0 0 0 0,0,1,2}
#CalendarButton:hover {-fx-background-color: "#3a3a3a"}
#CalendarButton:pressed {-fx-background-color: white; -fx-text-fill: "#1d1d1d"}

#menusx {-fx-control-inner-background: "#222222";}
#menusx {-fx-background-color: "transparent";}
#menusx {-fx-table-cell-border-color: "transparent";}
#menusx {-fx-table-header-border-color: "transparent";}
#menusx {-fx-padding: 0;}
#menusx {-fx-font-size: 9pt;}
#menusx {-fx-text-fill: "#ffffff";}
#menusx {-fx-text-align:left;}
#menusx {-fx-border-width:1;}
#menusx {-fx-background-radius: 0;}
#menusx {-fx-background-insets: 0 0 0 0,0,1,2}
#menusx:hover {-fx-background-color: "#3a3a3a"}
#menusx:pressed {-fx-background-color: white; -fx-text-fill: "#1d1d1d"}