<configuration>
  <!-- The following code uses the predefined appSettings section. -->
    <appSettings>
        <add key="Application Name" value="Modells" />
        <add key="IPaddr" value="**IP Address**" />
        <add key="IPport" value="**Server Port**" />
		<add key="DBGlevel" value="5" />
		<add key="DeviceType" value="Symbol" />
		<add key="TrainingModeText" value="Production" />
		<add key="BackColor" value="" />
		<add key="BackKeyAllowed" value="N" />
		<add key="M4logKeepDays" value="30" />
    </appSettings>
</configuration>
