h1 {
    font: bold 25px "calibri","arial";
	left: 100px;
    position: relative;
    text-align: left;
}
#maindiv {
    position: absolute;
    left: 200px;
    top: 100px;
}
#tabsparent {
    position: absolute;
    left: 200px;
    top: 200px;
    width: 600px;
}
.ui-widget-overlay {
  background: #000;
}